
.button {
    -fx-background-color: linear-gradient(#093039,#062026);
    -fx-background-radius: 50 0 0 50;
    -fx-background-insets: 0;
}
.button:hover {
    -fx-background-color: #062026;
}
.button:pressed {
    -fx-background-color: linear-gradient(#093039,#062026);
}

.menu-button {
    -fx-background-color: linear-gradient(#093039,#062026);
    -fx-background-radius: 50 0 0 50;

}
.menu-button .arrow {
    -fx-background-color: #177F97;
}
.menu-button:hover {
    -fx-background-color: #062026;
    -fx-background-opacity: 50%;
}
.menu-item .label {
    -fx-text-fill: white;
}
.menu-item:focused {
     -fx-background-color: darkgray;
}
.context-menu {
    -fx-background-color: transparent;
}
